// Custom Styles for Cotecna Request Tool Platform. Author: Dani Álvarez 

//Colors

$cotecna-brand-primary: #080A90;
$cotecna-brand-secundary: #05FAB3;
$white:#fff;


$primary: $cotecna-brand-primary;
$secundary: $cotecna-brand-secundary;
$background-tool: #EEEEEE;

//Fonts

$font-family-sans-serif: 'Roboto', sans-serif !default;



//Custom Styles Over Cotecna class on body tag (just for this test)



.cotecna {

    background-color: $background-tool;


    &__sidebar-brand{
        background-color: $primary;
      
    }


    &__nav{
         h2 {
             font-size: 1.2rem;
             color: $white;
         }

         &--menu-btn{
             color: $white;
             background: none;

             &:hover, &:active {
                color: $white;
                background: none;
             }
         }
    }
}